@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Admin Paneli";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-12">
            <a class="btn btn-dark d-flex justify-content-center align-items-center" href="/HaberYonet/Index" style="width:100% !important;height:300px !important;font-size:30px;">Haber Ekle/Çıkar</a>
        </div>
        <div class="col-lg-6 col-12">
            <a class="btn btn-dark d-flex justify-content-center align-items-center my-lg-0 my-3" href="/IletisimYonet/Index" style="width:100% !important;height:300px !important;font-size:30px;">İletişim</a>
        </div>

    </div>

</div>