@{
    ViewData["Title"] = "Hakkımızda";
}
<section id="hakkimizda">
    <h1 id="hakkimizda-main">Hakkımızda</h1>
    <p id="hakkimizda-secondary">Lorem Ipsum, bilinmeyen bir matbaacının bir tip numune kitabı yapmak için bir yazı galerisini alıp karıştırdığı 1500'lerden beri endüstrinin standart sahte metni olmuştur.</p>
</section>

<section id="main-part">
    <div class="container" id="main-part-wrapper">
        <div class="row">
            <div class="col">
                <div class="rectangle"></div>
                <p class="main-p"> MİSYON</p>
                <br>
                <h1 class="main-h1">Lorem Ipsum Sit Amet Consectetur</h1>
                <p class="main-p-2" id="main-p-2-bottom">Lorem Ipsum, bilinmeyen bir matbaacının bir tip numune kitabı yapmak için bir yazı galerisini alıp karıştırdığı 1500'lerden beri endüstrinin standart sahte metni olmuştur.</p>
                <div class="rectangle"></div>
                <p class="main-p"> VİZYON</p>
                <br>
                <h1 class="main-h1">Lorem Ipsum Sit Amet Consectetur</h1>
                <p class="main-p-2">Lorem Ipsum, bilinmeyen bir matbaacının bir tip numune kitabı yapmak için bir yazı galerisini alıp karıştırdığı 1500'lerden beri endüstrinin standart sahte metni olmuştur.</p>

            </div>
            <div class="col" id="main-part-displayed" style="position: relative;">
                <img src="~/img/Rectangle-765.png" alt="Rectangle 765" id="im1">
                <img src="~/img/Mask-group.png" alt="Mask group" id="im2">
                <img src="~/img/rectangle-asd.png" alt="Rectangle asd" id="im3">
                <img src="~/img/rectangle-asdf.png" alt="Rectangle asdf" id="im4">
                <img src="~/img/Rectangle-767.png" alt="Rectangle 767" id="im5">
                <img src="~/img/Rectangle-759.png" alt="Rectangle 759" id="im6">
                <img src="~/img/Mask-group1.png" alt="Mask group1" id="im7">
                <img src="~/img/Group-1837.png" alt="Group 1837" id="im8">
                <img src="~/img/grou-3124783.png" alt="grou 3124783" id="im9">
                <img src="~/img/group-32432432.png" alt="group 32432432" id="im10">
                <img src="~/img/Ellipse-31.png" alt="Ellipse 31" id="im11">
                <img src="~/img/Rectangle-766.png" alt="Rectangle 766" id="im12">

            </div>
        </div>
    </div>
</section>