@import url("./izmir/fonts.css");

.logo {
    background: linear-gradient(225deg, #F26997, #2484D8);
    height: 65px;
    border-radius: 6px;
    font-family: "Izmir";
    font-weight: 700;
    color: white;
    font-size: 24px;
    line-height: 32.21px;
    text-decoration:none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("../img/calendar.png");
}

.navbar-text, .sign, .signdrop, .text-p, .main-p, .formtext1, #sifre-unut, .ilh2, .ilh3, .text-p2 {
    font-family: "Izmir";
    font-size: 18px;
    line-height: 24.16px;
}

.navbar-text {
    font-weight: 400;
    color: black;
}

#dropdown-border {
    border: 0;
    border-top: 4px solid #E8AD15;
}



.sign {
    font-weight: 500;
    color: white;
    background-color: #E8AD15;
    border-radius: 6px;
    text-align: center;
}

.signdrop {
    border-radius: 6px;
    color: #E8AD15;
    box-sizing: border-box;
    border: 1px solid #E8AD15;
    text-align: center;
}

#social-medias {
    height: calc(376/1920 * 100vw);
    position: absolute;
    top: 101px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#social-medias a {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    box-sizing: border-box;
    border-radius: 6px;
    color: #E8AD15;
    border: 1px solid #E8AD15;
    padding: 5px;
    background-color: white;
    margin-bottom: 8px;
}

#hakkimizda {
    text-align: center;
    padding: 20px 0;
}

#hakkimizda-main, #hakkimizda-secondary, .main-p-2 {
    font-family: "Izmir";
    font-weight: 600;
    font-size: 20px;
    line-height: 26.84px;
    color: black;
}

#hakkimizda-secondary {
    font-weight: 400;
    line-height: 26.84px;
    width: 60%;
    margin: 0 auto;
}

#hakkimizda-main {
    margin-bottom: 10px;
}

#main-part {
    width: 100%;
    height: auto;
}

#main-part-wrapper {
    padding-bottom: calc(388/1920 * 100vw) !important;
    padding-top: 20px !important;
}

.rectangle {
    width: 8px;
    height: 15px;
    display: inline-block;
    background-color: #E8AD15;
    border-radius: 6px;
}

.main-p {
    display: inline-block;
    font-weight: 500;
    color: black;
    opacity: 80%;
}

.main-h1 {
    text-decoration: underline;
    font-family: "Izmir";
    font-weight: 700;
    font-size: 40px;
    line-height: 53.68px;
    margin-bottom: 50px;
}

.main-p-2 {
    font-weight: 400;
    color: #646464;
}

#main-p-2-bottom {
    margin-bottom: 40px;
}

#im1, #im2, #im3, #im4, #im5, #im6, #im7, #im8, #im9, #im10, #im11, #im12 {
    position: absolute;
}

#im1 {
    top: 3.2vw;
    left: 1.5vw;
    width: calc(10/1920 * 100vw);
}

#im2 {
    top: 0;
    left: 4vw;
    width: calc(207/1920 * 100vw);
}

#im3 {
    top: 0.5vw;
    left: 13.2vw;
    width: calc(108/1920 * 100vw);
}

#im4 {
    top: -3.4vw;
    left: 15vw;
    width: calc(154/1920 * 100vw);
}

#im5 {
    top: 8vw;
    left: 15.5vw;
    width: calc(9/1920 * 100vw);
}

#im6 {
    top: 3vw;
    left: 30vw;
    width: calc(40.27/1920 * 100vw);
}

#im7 {
    top: 5vw;
    left: 16.4vw;
    z-index: 1;
    width: calc(292/1920 * 100vw);
}

#im8 {
    top: 22vw;
    left: 25vw;
    width: calc(41.5/1920 * 100vw);
}

#im9 {
    top: 20vw;
    left: 26.5vw;
    width: calc(154.7/1920 * 100vw);
}

#im10 {
    top: 15vw;
    left: 2vw;
    z-index: 0;
    width: calc(434/1920 * 100vw);
}

#im11 {
    top: 27vw;
    left: 30vw;
    width: calc(42/1920 * 100vw);
}

#im12 {
    top: 34.2vw;
    left: 0;
    width: calc(10/1920 * 100vw);
}

#text-h1 {
    text-align: center;
    padding: 40px 0 20px 0;
    font-family: "Izmir";
    font-size: 20px;
    color: black;
    line-height: 26.84px;
    font-weight: 600;
    margin: 0;
}

#text-p {
    font-family: "Izmir";
    font-size: 18px;
    color: black;
    line-height: 24.16px;
}

#text-p {
    width: calc(1366/1920 * 100vw);
    font-weight: 600;
    margin: 0 auto;
}

.formtext1 {
    font-weight: 500;
    color: black;
    opacity: 80%;
    margin: 0 !important;
}

.btn-custom {
    font-family: "Izmir";
    font-weight: 600;
    color: black;
    font-size: 20px;
    line-height: 26.84px;
    background-color: #E8AD15;
}

.btn-custom:hover, .btn-custom:focus {
    background-color: #d1a126;

}

.btn-custom4  {
    font-family: "Izmir";
    font-weight: 600;
    color: black;
    font-size: 20px;
    width: 100%;
    line-height: 26.84px;
    background-color: #E8AD15;
}

    .btn-custom4:hover,
    .btn-custom4:focus {
        background-color: white;
        border: 1px solid #E8AD15;
        color: #E8AD15;
    }

.btn-custom1 , .pagination a ,.pagination span{
    font-family: "Izmir";
    font-weight: 600;
    color: black;
    font-size: 20px;
    width: 100%;
    line-height: 26.84px;
    background-color: white;
    color: #E8AD15;
    border: 1px solid #E8AD15;
    border-radius:6px;
}

.pagination a, .pagination span {
    margin: 0 3px;
    padding: 3px 8px;
    text-decoration: none;
    color:black!important;
}
.pagination span {
    background-color: #E8AD15;
    color: white;
    border: 1px solid #E8AD15;
}

    .btn-custom1:hover,
    .btn-custom1:focus, .pagination a:hover, .pagination a:focus {
        background-color: #E8AD15;

    }




#sifre-unut {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#main-section {
    padding: 50px 0 250px 0;
}

.ilbil {
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: "Izmir";
    line-height: 26.84px;
}

.ilh2 {
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.ilh3 {
    font-weight: 500;
    color: #646464;
    margin-bottom: 20px;
}

#filtre {
    margin: 50px 0;
}

.select-text {
    font-family: "Izmir";
    font-weight: 600;
    font-size: 20px;
    line-height: 26.84px;
    color: black;
}

.btn-custom3 {
    border-radius: 6px;
    background-color: #E8AD15;
    color: white;
    box-sizing: border-box;
    width: calc(202/1920 * 100vw);
}

    .btn-custom3:hover {
        background: white;
        border: 1px solid #E8AD15;
        color: #E8AD15;
    }

.tarih1 {
    font-family: "Inter";
    font-weight: 600;
    font-size: 48px;
    line-height: 58.09px;
    color: #E8AD15;
    display: inline;
}

.tarih2 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
    color: #646464;
    display: inline;
}

.etkinlik-kalin {
    display: block;
    text-decoration: none;
    font-family: "Izmir";
    font-weight: 600;
    font-size: 18px;
    line-height: 24.16px;
    color: black;
    padding-bottom: 10px;
}

.etkinlik-takvim {
    font-family: "Izmir";
    font-weight: 600;
    font-size: 15px;
    line-height: 20.13px;
    color: #646464;
}

.etkinlik-metin {
    font-family: "Izmir";
    font-weight: 500;
    font-size: 15px;
    line-height: 20.13px;
    color: #646464;
}

.devami {
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: black;
}

.page-num {
    padding: 5px 10px;
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    text-decoration: none;
    border: 1px solid black;
    color: black;
    background-color: white;
}

    .page-num:hover {
        border: 1px solid #E8AD15;
        color :#E8AD15 !important;
    }

.text-h12 {
    font-family: "Izmir";
    font-size: 20px;
    color: black;
    font-weight: 600;
    line-height: 26.84px;
}

.text-p2 {
    margin: 0;
    width: calc(1366/1920*100vw);
    text-align: justify;
    margin: 0 auto;
}

.text-p12 {
    color: #646464;
    font-weight: 500;
    margin-bottom: 30px;
}

.btn-custom2 {
    color: black;
    box-sizing: border-box;
    border: 1px solid black;
}

.btn-custom2:hover {
        color: white;
        box-sizing: border-box;
        border: 1px solid white;
        background-color: black;
}


.squares {
    display: flex;
    justify-content: space-around;
}
.squares a {
        text-decoration: none;
        height: 7vw;
        width: 20vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -3.5vw;
        font-family: "Izmir";
        font-size: 20px;
        font-weight: 500;
        line-height: 26.84px;
        color: white;
        border-radius: 6px;
    }



.squares i {
    margin-left: 20px;
    border-radius: 6px;
    border: 2px solid white;
    padding: 2px 2px;
}

#square1 {
    background-color: #E8AD15;
}

#square2 {
    background-color: #F26997;
}

#square3 {
    background-color: #2484D8;
}

.news {
    text-align: center;
    margin-bottom: 20px;
}

#haberler, #etkinlikler {
    border-radius: 6px;
    padding: 5px 20px;
    font-family: "Izmir";
    font-size: 20px;
    line-height: 26.84px;
    font-weight: 500;
}

#haberler {
    text-decoration: none;
    color: #E8AD15;
    border: 1px solid #E8AD15;
}

#etkinlikler {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    border: 1px solid black;
}

#tarihler .slick-prev:before, #tarihler .slick-next:before {
    color: black;
}


.haber-bosluk {
    padding: 5px;
}

.slick-slide {
    margin: 0 4vw !important;

}



.admingirispart{
    margin:0 25vw;
}






@media only screen and (max-width:1750px) {
    .squares a {
        font-size: 16px;
        font-weight: 500;
        line-height: 26.84px;
    }
}
@media only screen and (max-width:1300px) {
    .squares a {
        font-size: 12px;
        font-weight: 500;
        line-height: 26.84px;
    }
}

@media only screen and (max-width:996px) {
    .squares a {
        font-size: 20px;
        height: 10vw;
        margin-top: 10px;
        width: 100%;
        position: static;
        font-weight: 500;
        line-height: 26.84px;
    }

    .squares {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news {
        margin-top: 20px;
    }
    
}



@media only screen and (max-width:550px) {
    .squares a {
        height: 10vw;
        width: 100%;
        border-radius: 0;
    }
    #myTab {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #haberler {
        width: 100%;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        color: #E8AD15;
    }

    #etkinlikler {
        width: 100%;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        margin-left: 0px;
        margin-top: 10px;
    }
}

.aramayazi{
    text-decoration:none;
    font-size:25px;
    font-family:"Izmir";
}


@media only screen and (max-width:1400px) {
    .main-h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .main-p-2 {
        font-size: 16px
    }
    .navbar-text{
        font-size:14px;
    }
}

@media only screen and (max-width:1200px) {
    .main-h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .main-p-2 {
        font-size: 16px
    }
}
@media only screen and (max-width:375px) {
    #ibb-logo {
        width: 100%;
        min-width: 296px;
    }
    .iletisimyonetden{
        padding-right:5px !important;
    }
}

@media only screen and (max-width:422px) {
    #footer-toggle {
        justify-content: center !important;
        margin-bottom: 10px;
    }

    #ibb-logo {
        margin: 0 auto;
    }
}

@media only screen and (max-width:991px) {
    .admingirispart {
        margin: 0;
    }
    
    
    #social-medias {
        margin: 10px auto;
        height: auto;
        width: 100%;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        #social-medias a {
            font-size: 30px;
            margin: 0 10px;
        }

    #main-part-displayed {
        display: none;
    }

    .main-h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .main-p-2 {
        font-size: 20px
    }
    .toCenter {
        justify-content: center;
        margin-bottom: 8px;
    }

    .displaynone {
        display: none;
    }
    .marginadder {
        margin-bottom: 20px;
    }
    .centered {
        justify-content: center !important;
        margin-bottom: 10px;
    }
    .navbar-text {
        font-size: 18px;
    }
}


@media only screen and (max-width:582px) {

    .main-h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .main-p-2 {
        font-size: 16px
    }
}
@media only screen and (max-width:575px) {
    .btn-custom3 {
        width: calc(500/1920 * 100vw);
    }
}






